.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7FFFD4;
    text-align: center;
    padding: 10px 0 ;
    font-weight: bold
}

.footer a {
    color: #1f9751;
    text-decoration: none;
    font-size: 0.9em;
}

.footer span {
    font-size: 0.8rem;
}