.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-weight: bold
}

.footer a {
    color: #1f9751;
    text-decoration: none;
    font-size: 0.9em;
}

.footer .year {
    font-size: 0.8rem;
}